<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
      {{#if user}}
        <a href="/profile">
          Signed in as {{user.profile.firstName}} {{user.profile.lastName}}
        </a>
      {{/if}}
      {{#if user}}
        <a href="/logout">Sign out</a>
      {{else}}
        <a href="/login">Sign in</a>
      {{/if}}
    </header>
    <main>
      {{{body}}}
    </main>
  </body>
</html>
